<%- include('../layouts/admin/header', { title: editMode ? "Edit Coupon" : "Add Coupon" }) %>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1><%= editMode ? "Edit Coupon" : "Add Coupon" %></h1>
        </div>
        
        <% if(errorMessage && errorMessage.length > 0) { %>
            <div class="alert alert-danger"><%= errorMessage %></div>
        <% } %>
        <div class="card">
            <div class="card-body">
                <form action="<%= editMode ? `/admin/editCoupon/${coupon._id}` : '/admin/addCoupons' %>" method="post">
                    <div class="form-group">
                        <label for="couponDescription">Coupon Name</label>
                        <input type="text" class="form-control" id="couponDescription" name="couponName" placeholder="Enter coupon Name" required value="<%= coupon.couponName || '' %>">
                    </div>
                    <div class="form-group">
                        <label for="couponCode">Coupon Code</label>
                        <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Enter coupon code" required value="<%= coupon.couponCode || '' %>">
                    </div>
               
                    <div class="form-group">
                        <label for="expiryDate">Start Date</label>
                        <input type="date" class="form-control" id="expiryDate" name="startDate" required value="<%= coupon?.startDate ? coupon?.startDate.toISOString().slice(0, 10) : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="expiryDate">Expiry Date</label>
                        <input type="date" class="form-control" id="expiryDate" name="expiryDate" required value="<%= coupon?.expiryDate ? coupon?.expiryDate.toISOString().slice(0, 10) : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="discountPercentage"> Discount Percentage</label>
                        <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" placeholder="Enter discount percentage" required value="<%= coupon?.discountPercentage || '' %>">
                    </div>
                    <!-- <div class="form-group">
                        <label for="maxDiscount">Maximum Discount</label>
                        <input type="number" class="form-control" id="maxDiscount" name="maxDiscount" placeholder="Enter maximum discount amount" required value="<%= coupon?.maxDiscount || '' %>">
                    </div> -->
                    <div class="form-group">
                        <label for="maxDiscount">Maximum amount</label>
                        <input type="number" class="form-control" id="maxAmount" name="maxAmount" placeholder="Enter maximum amount to which give discount" required value="<%= coupon?.maxAmount || '' %>">
                    </div>
                    <button type="submit" class="btn btn-primary"><%= editMode ? "Update Coupon" : "Add Coupon" %></button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <%- include('../layouts/admin/adminFooter') %>
</body>
</html>
