<%- include('../layouts/admin/header',{title:"Order list"}) %>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
     
    </head>

    <body>
        <div class="container">
            <h1 class="my-4">Order List</h1>

            <!-- Search Bar -->
            <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search products..." aria-label="Search products">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div> -->


            <!-- Product Table -->

            <table class="table">
                <thead>
                    <tr>
                        <!-- <th scope="col">No</th> -->
                        <th scope="col">Product</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Total</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                        <th scope="col">notifications</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (order && order?.length> 0) { %>
                        <% order.forEach(orderItem=> { %>
                            <% orderItem?.productItems.forEach((product,index)=> { %>
                                <tr>

                                    <td>
                                        <img src="<%= product?.productId?.images[0]  %>" alt="Product Image" class="img-fluid" style="max-width: 40px;">
                                        <%= product?.productName %>
                                    </td>
                                    <td>
                                        <%= orderItem.dateOrdered.toDateString() %>
                                    </td>
                                    <td>
                                        <%= orderItem.userName %>
                                    </td>
                                    <td>
                                        <%= product.total %>
                                    </td>
                                    <td>
                                        <%= orderItem.paymentMethod %>

                                    </td>
                                    <td>
                                        <% if (['Return Requested', 'return request accepted', 'return request rejected','Cancelled','product returned'].includes(product.status)) { %>
                                            <a href="/admin/product/return/<%= orderItem._id %>/<%= product._id %>" class="text-danger">
                                                <%= product.status %>
                                            </a>
                                            <% }else if(product.status === 'Delivered'){ %>
                                                <p>Delivered</p>
                                            <% }else{ %>
                                        <select name="status" data-order-id="<%= orderItem._id %>"
                                            data-product-id="<%= product._id %>" onchange="updateStatus(this)">
                                            <% const statuses=['Pending', 'Processing' , 'Shipped' , 'Delivered' ]; %>
                                                <% statuses.forEach(status=> { %>
                                                    <option value="<%= status %>" <%=product.status===status
                                                        ? 'selected' : '' %>><%= status %>
                                                    </option>
                                                    <% }); %>
                                                    <% } %>
                                        </select>
                                    </td>
                                    <td>
                                        <% if (['Return Requested', 'return request accepted', 'return request rejected','Cancelled','product returned'].includes(product.status)) { %>
                                            <a href="/admin/product/return/<%= orderItem._id %>/<%= product._id %>" class="text-light">
                                                <button class="btn btn-primary "> view</button>
                                            </a>
                                        
                                        <% }else {%>
                                        <a href="/admin/product/view/<%= orderItem._id %>/<%= product._id %>" style="color: aliceblue;"
                                            ><button class="btn btn-primary ">view</button></a>
                                            <% } %>
                                    </td>
                                </tr>
                                </tr>
                                <% }); %>
                                    <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5" class="text-center">No products found in
                                                    the order.</td>
                                            </tr>
                                            <% } %>
                </tbody>
            </table>

           
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
       
        <!-- updating status for products -->
       <script>
            function updateStatus(selectElement) {

                const orderId = selectElement.getAttribute('data-order-id');
                const productId = selectElement.getAttribute('data-product-id');
                const status = selectElement.value;
                
                fetch('/admin/product/orderStatus', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ orderId, productId, status })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: data.message || 'Operation successful',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            .then(() => {
                                window.location.reload(); // Corrected the typo: 'windows' to 'window'
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: data.message || 'An error occurred while adding the mobile number',
                                confirmButtonText: 'OK'
                            });
                        }

                    })
                    .catch(error => {
                        console.log('Error', error);
                        alert('An error occured while updating status')
                    })

            }
        </script>

        <%- include('../layouts/admin/adminFooter') %>