<%- include('../layouts/admin/header', { title: "Edit product Offer" }) %>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Edit Offer for <%= productOffer?.products?.productName %></h1>
        <form id="categoryOfferEdit" action="/admin/product/offer/update/<%= productOffer._id %>" method="POST">
            <div class="form-group">
                <label for="offerName">Offer Name</label>
                <input type="text" class="form-control" id="offerName" name="offerName" value="<%= productOffer ? productOffer.offerName : '' %>" required>
            </div>
            <div class="form-group">
                <label for="discountPercentage">Discount Percentage</label>
                <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" value="<%= productOffer ? productOffer.discountPercentage : '' %>" required>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" name="startDate" value="<%= productOffer ? productOffer.startDate.toISOString().substring(0, 10) : '' %>" required>
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate" value="<%= productOffer ? productOffer.endDate.toISOString().substring(0, 10) : '' %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Offer</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
