<%- include('../layouts/user/header',{title:"checkout-Page"}) %>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <form id="userAddress">
                    <div class="user-info">
                        <h3>User Information:</h3>
                        <h6> <strong>Name:</strong>
                            <%= userData.name %>
                        </h6>
                        <h6><strong>Mobile Number:</strong>
                            <%= userData.mobileNumber %>
                        </h6>
                    </div>
                    <hr>
                    <% if (userData.address && userData.address.length> 0) { %>
                        <h4>Choose Your Shipping Address:</h4>
                        <ul class="list-group">
                            <% userData.address.forEach((addr, index)=> { %>
                                <li class="list-group-item">
                                    <input class="pixel-radio" type="radio" id="<%= user._id %>" name="brand"
                                        value="<%= user._id %>">
                                    <label for="<%= user._id %>">
                                        Address <%= index + 1 %>:
                                    </label>

                                    <p>
                                        <%= addr.street %>, <%= addr.city %>, <%= addr.state %>, 
                                        <%= addr.country %>,<%= addr.pinCode %>,
                                    </p>
                                </li>
                                <% }) %>
                        </ul>
                        <% } else { %>
                            <p>No addresses found.</p>
                            <% } %>
                </form>
                <!-- modal used for showing to add address -->
                <button id="openModalBtn" class="primary-btn mt-5">Add Shipping Address</button>
                <div id="myModal" class="modal">
                    <div class="modal-content"> 
                        <span class="close">&times;</span>
                        <!-- <p>This is a modal!</p> -->
                        <div class="col-lg-8">
                            <h3>Billing Details</h3>
                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="firstone" name="name">
                                    <span class="placeholder" data-placeholder="First name"></span>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="number" name="number">
                                    <span class="placeholder" data-placeholder="Phone number"></span>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="email" name="compemailany">
                                    <span class="placeholder" data-placeholder="Email Address"></span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="add1" name="add1">
                                    <span class="placeholder" data-placeholder="Street name"></span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="add2" name="add2">
                                    <span class="placeholder" data-placeholder="city name"></span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="city" name="city">
                                    <span class="placeholder" data-placeholder="state"></span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name">
                                    <span class="placeholder" data-placeholder="country"></span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="zip" name="zip"
                                        placeholder="Postcode/ZIP">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- <div class="col-lg-4"> -->
                <div class="order_box">
                    <h2>Your Order</h2>
                    <ul class="list">
                        <li><a href="#">Product <span>Total</span></a></li>
                        <% if (cartItems && cartItems.length>0) { %>
                         <% cartItems.forEach(items => { %>
                          <% items.products.forEach(product => { %>
                            
                            <li><a href="#"><%= product.productId.productName%> <span class="middle">x <%= product.quantity  %></span> <span class="last"><%= totalAmount %></span></a></li>
                        
                    </ul>
                    <% }) %>
                    <% }) %>
                    <% } %>
                    <div class="payment_item-event">
                        <div class="radion_btn">
                            <input type="radio" id="cash" name="selector">
                            <label for="cash">Cash On Delivery</label>
                            <div class="check"></div>
                        </div>
                        <p>Please send a check to Store Name, Store Street, Store Town, Store State /
                            County,
                            Store Postcode.</p>
                    </div>
                    <div class="payment_item">
                        <div class="radion_btn">
                            <input type="radio" id="f-option5" name="selector">
                            <label for="f-option5">Check payments</label>
                            <div class="check"></div>
                        </div>
                        <p>Please send a check to Store Name, Store Street, Store Town, Store State /
                            County,
                            Store Postcode.</p>
                    </div>
                    <div class="payment_item active">
                        <div class="radion_btn">
                            <input type="radio" id="f-option6" name="selector">
                            <label for="f-option6">Paypal </label>
                            <img src="img/product/card.jpg" alt="">
                            <div class="check"></div>
                        </div>
                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                            account.</p>
                    </div>
                    <div class="creat_account">
                        <input type="checkbox" id="f-option4" name="selector">
                        <label for="f-option4">I’ve read and accept the </label>
                        <a href="#">terms & conditions*</a>
                    </div>
                    <a class="primary-btn" href="#">Proceed to Paypal</a>
                </div>
                <br>
            </div>
        </div>
    </div>



    <style>
        /* Modal CSS */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 2px solid #888;
            width: 80%;
            display: flex;
            align-items: center;
        }

        /* Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("openModalBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


    <!-- <script>
        const price = document.getElementById(`${product.productId.price}`)
        const quantity = document.getElementById('quantity')
        const total = document.getElementById('total')

        total.innerHTML = `${Number(price)} * ${Number(quantity)}`

    </script> -->
    <!--================End Checkout Area =================-->


    <%- include('../layouts/user/footer') %>