<%- include('../layouts/user/header',{title:"checkout-Page"}) %>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                <!-- <form id="userAddress"> -->
                <div class="user-info">
                    <h3>User Information:</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6>NAME: <strong>
                                    <%= userData.name %>
                                </strong></h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h6 id="updateNum">MOBILE NUMBER: <strong id="num">
                                    <%= userData.mobileNumber %>
                                </strong></h6>
                            <button id="addNumber" class="btn btn-outline-secondary text-dark">Add Number</button>
                        </li>
                        <li id="hiddenItem" class="list-group-item col-md-12" style="display: none;">
                            <p id="message" style="color: red;"></p>
                            <input id="mobile" type="number" class="form-control" placeholder="Enter new mobile number">

                        </li>
                    </ul>

                </div>
                <br>
                <% if (userData.address && userData.address.length> 0) { %>
                    <h4>Choose Your Shipping Address:</h4>
                    <ul class="list-group" id="addressList">
                        <% userData.address.forEach((addr, index)=> { %>
                            <!-- <li class="list-group-item"> -->
                            <li class="list-group-item "  data-index="<%= index %>">
                                <input class="pixel-radio d-flex justify-content-between align-items-center"
                                    type="radio" id="addr_<%= index %>" name="address" value="<%= addr._id %>">
                                <label for="addr_<%= addr._id %>">
                                    Address <%= index + 1 %>:
                                </label>

                                <p>
                                    <%= addr.street %>, <%= addr.city %>, <%= addr.state %>,
                                                <%= addr.country %>,<%= addr.pinCode %>,
                                </p>
                                <button id="editAddress" type="button"
                                    class="btn btn-outline-secondary text-dark editAddressBtn "
                                    data-index="<%= index %>" data-address='<%= JSON.stringify(addr) %>'>Edit
                                    Address</button>

                            </li>

                            <% }) %>
                                <!-- adding new address -->
                                <!-- <li class="list-group-item " > <button id="addAddressBtn" class="btn btn-outline-secondary text-dark" > Add New Address</button></li> -->
                                <% if (userData.address.length < 3) { %>
                                    <!-- Add new address button -->
                                    <li class="list-group-item">
                                        <button type="button" class="btn btn-outline-secondary text-dark addAddressBtn"
                                            id="addAddressBtn">Add New Address</button>
                                    </li>
                                    <% } %>
                    </ul>
                    <% } else { %>
                        <p>No addresses found.</p>
                        <li class="list-group-item "> <button id="addAddressBtn"
                                class="btn btn-outline-secondary text-dark addAddressBtn"> Add New Address</button></li>

                        <% } %>
                            <!-- </form> -->

                            <li class="list-group-item " style="display: none;" id="addressFormContainer">
                                <form action="#" method="post" id="addressForm" onsubmit="return validateAddress()">
                                    <span id="messageShow" class=" text-danger"></span>

                                    <input type="hidden" name="addressId" id="addressId">

                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="street" placeholder="Street name"
                                            name="street" required>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" placeholder="city name" id="city"
                                            name="city" required>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="state" placeholder="state"
                                            name="state" required>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" placeholder="country" id="country"
                                            name="country" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="pinCode" name="pinCode"
                                            placeholder="Postcode/ZIP" required>
                                    </div>

                                    <div class="buttonClass">
                                        <button type="submit" class="btn btn-primary mr-4">Save Address</button>
                                        <!-- <button  class="btn btn-primary" id="cancelButton">cancel</button> -->
                                    </div>

                                </form>
                                <br>
                                <button class="btn btn-primary" id="cancelButton">cancel</button>
                            </li>



                            <!-- modal used for showing to add address -->
                            <!-- <button id="openModalBtn" class="primary-btn mt-5">Add Shipping Address</button>

                            <div class="col-md-12 form-group mt-3">
                                <div class="creat_account">
                                    <h3>Shipping Details</h3>
                                    <input type="checkbox" id="f-option3" name="selector">
                                    <label for="f-option3">Ship to a different address?</label>

                                </div> -->
                                <!-- <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea> -->
                            <!-- </div> -->

            </div>
           

            <div class="col-md-6">
                <!-- <div class="col-lg-4"> -->
                <div class="order_box">
                    <h2>Your Order</h2>
                    <table class="table">
                        <!-- <caption>Your Order</caption> -->
                        <thead>
                            <tr>
                                <th scope="col" style="width: 60%;">product</th>
                                <th scope="col" style="width: 60%;">quantity</th>
                                <th scope="col" style="width: 60%;">total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cartItems && cartItems.length>0) { %>
                                <% cartItems.forEach(items=> { %>
                                    <% items.products.forEach(product=> { %>
                                        <tr>
                                            <td scope="row" style="width: 60%;">
                                                <%= product.productId.productName%>
                                            </td>
                                            <td style="width: 60%;"> X <%= product.quantity %>
                                            </td>
                                            <td style="width: 60%;">
                                                <%= product.productId.price * product.quantity %>
                                            </td>
                                        </tr>

                                        <% }) %>
                                            <% }) %>
                                                <% } %>
                                                    <tr>
                                                        <td style="width: 60%;">
                                                            <h4>Sub Total</h4>
                                                        </td>
                                                        <td style="width: 60%;"></td>
                                                        <td style="width: 60%;">
                                                            <h4 name="totalAmount">
                                                                <%= totalAmount %>
                                                            </h4>
                                                        </td>
                                                    </tr>
                        </tbody>
                    </table>


                    <div class="payment_item-event bg-white">
                        <div class="radion_btn">
                            <input type="radio" id="f-option4" name="cod">
                            <label for="f-option4">Cash On Delivery</label>
                            <div class="check"></div>
                        </div>
                        <p>To use this payment method, simply select "Cash On Delivery" at checkout. Once your order is
                            confirmed, our delivery team will handle the rest.</p>
                        </p>
                    </div>
                    <!-- <div class="payment_item">
                        <div class="radion_btn">
                            <input type="radio" id="f-option5" name="selector">
                            <label for="f-option5">Check payments</label>
                            <div class="check"></div>
                        </div>
                        <p>Please send a check to Store Name, Store Street, Store Town, Store State /
                            County,
                            Store Postcode.</p>
                    </div>
                    <div class="payment_item active">
                        <div class="radion_btn">
                            <input type="radio" id="f-option6" name="selector">
                            <label for="f-option6">Paypal </label>
                            <img src="/img/product/card.jpg" alt="">
                            <div class="check"></div>
                        </div>
                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                            account.</p>
                    </div> -->
                    <div class="creat_account">
                        <input type="checkbox" id="f-option4" name="selector">
                        <label for="f-option4">I’ve read and accept the </label>
                        <a href="#">terms & conditions*</a>
                    </div>
                    <a class="primary-btn" href="/user/confirmation">Place Order</a>
                </div>
                <br>
            </div>
        </div>
    </div>



    <script src="/script/address.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- add mobile number -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let mobileNumber = '<%= userData.mobileNumber %>';
            let addNumberButton = document.getElementById('addNumber');

            if (mobileNumber) {
                // If mobile number exists, hide the "Add Number" button
                addNumberButton.style.display = 'none';
            } else {
                // If mobile number doesn't exist, show the "Add Number" button
                addNumberButton.style.display = 'block';
            }


            document.getElementById('addNumber').addEventListener('click', async function (event) {
                event.preventDefault();
                let hiddenItem = document.getElementById('hiddenItem')
                let mobileInput = document.getElementById('mobile')

                if (hiddenItem.style.display === 'none') {
                    hiddenItem.style.display = 'block'
                } else {
                    hiddenItem.style.display = 'none';
                    let mobile = mobileInput.value
                    if (mobile.length < 10 || mobile.length > 10) {
                        document.getElementById('message').textContent = 'mobile number should contains 10 numbers'
                    } else {

                        try {
                            const response = fetch('/user/checkout/mobile', {
                                method: 'POST',
                                headers: {
                                    'Content-type': 'application/json',
                                },
                                body: JSON.stringify({ mobile })

                            }).then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                                .then(data => {
                                    console.log('Response data:', data);
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Success!',
                                        text: data.success || 'Operation successful',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    document.getElementById('num').textContent = data.mobile
                                    document.getElementById('addNumber').style.display = 'none';
                                })

                        } catch (error) {
                            console.error('Error:', error);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: 'An error occurred while adding the mobile number',
                                confirmButtonText: 'OK'
                            });
                        }

                    }


                }
            });
        })
    </script>

    <!-- add and edit address controlling script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const addressFormContainer = document.getElementById('addressFormContainer');
            const addressForm = document.getElementById('addressForm');
            const addressList = document.getElementById('addressList');
            const addAddressBtn = document.querySelectorAll('.addAddressBtn');
            const editAddressBtns = document.querySelectorAll('.editAddressBtn');
            const cancelButton = document.getElementById('cancelButton');
            const addressIdField = document.getElementById('addressId');

            // Show address form for adding a new address
            if (addAddressBtn) {
                addAddressBtn.forEach(button => {
                    button.addEventListener('click', function (event) {
                        event.preventDefault();
                        addressForm.action = '/user/checkout/address';
                        addressForm.reset();
                        addressIdField.value = '';
                        addressFormContainer.style.display = 'block';
                    });
                });
            } else {
                console.error('addAddressBtn not found.');
            }

            // Show address form for editing an existing address
            if (editAddressBtns) {
                editAddressBtns.forEach(button => {
                    button.addEventListener('click', function () {
                        const address = JSON.parse(this.getAttribute('data-address'));
                        addressForm.action = '/user/checkout/address/edit';
                        addressIdField.value = address._id;
                        document.getElementById('street').value = address.street;
                        document.getElementById('city').value = address.city;
                        document.getElementById('state').value = address.state;
                        document.getElementById('country').value = address.country;
                        document.getElementById('pinCode').value = address.pinCode;
                        addressFormContainer.style.display = 'block';
                    });
                });
            } else {
                console.error('editAddressBtns not found.');
            }

            // Hide address form
            cancelButton.addEventListener('click', function () {
                addressFormContainer.style.display = 'none';
            });

            // Handle form submission
            addressForm.addEventListener('submit', async function (event) {
                event.preventDefault();
                if (!validateAddress()) {
                    return;
                }
                const formData = new FormData(addressForm);
                const action = addressForm.action;
                try {
                    const response = await fetch(action, {
                        method: 'POST',
                        body: formData
                    });
                    if (response.ok) {
                        const data = await response.json();
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: data.message || (addressIdField.value ? 'Address edited successfully!' : 'Address added successfully!')
                        });
                        addressFormContainer.style.display = 'none';
                        console.log('success data:', data);
                        
                        const newAddress = data.address; // Assuming your server response contains the new or updated address
                    if (addressIdField.value) {
                        // Edit existing address
                        const addressIndex = editAddressBtns[0].getAttribute('data-index'); // Adjust as needed
                        const addressItem = document.querySelector(`li[data-index="${addressIndex}"]`);
                        addressItem.innerHTML = `
                            <input class="pixel-radio d-flex justify-content-between align-items-center" type="radio" id="addr_${addressIndex}" name="address" value="${newAddress._id}">
                            <label for="addr_${newAddress._id}">Address ${addressIndex + 1}:</label>
                            <p>
                                ${newAddress.street}, ${newAddress.city}, ${newAddress.state},
                                ${newAddress.country}, ${newAddress.pinCode}
                            </p>
                            <button type="button" id="editAddress" class="btn btn-outline-secondary text-dark editAddressBtn" data-index="${addressIndex}" data-address='${JSON.stringify(newAddress)}'>Edit Address</button>
                        `;
                    } else {
                        // Add new address
                        const newIndex = addressList.children.length;
                        const newAddressItem = document.createElement('li');
                        newAddressItem.className = 'list-group-item';
                        newAddressItem.setAttribute('data-index', newIndex);
                        newAddressItem.innerHTML = `
                            <input class="pixel-radio d-flex justify-content-between align-items-center" type="radio" id="addr_${newIndex}" name="address" value="${newAddress._id}">
                            <label for="addr_${newAddress._id}">Address ${newIndex }:</label>
                            <p>
                                ${newAddress.street}, ${newAddress.city}, ${newAddress.state},
                                ${newAddress.country}, ${newAddress.pinCode}
                            </p>
                            <button id="editAddress" type="button" class="btn btn-outline-secondary text-dark editAddressBtn" data-index="${newIndex}" data-address='${JSON.stringify(newAddress)}'>Edit Address</button>
                        `;
                        addressList.appendChild(newAddressItem);
                    }
                    } else {
                        const data = await response.json();
                        console.log('error message:', data);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.error || 'Form submission failed.'
                        });
                    }
                } catch (error) {
                    console.log('error occurred in catch:', error.message);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Form submission failed. Please try again.'
                    });
                }
            });
        });

    </script>
    <%- include('../layouts/user/footer') %>