<%- include('../layouts/user/header',{title:"checkout-Page"}) %>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Order Info</h4>
						<% if(order) { %>
						<ul class="list">
							<li><a href="#"><span>Order number</span> : <%= order._id.toString().slice(0,6) %> </a></li>
							<li><a href="#"><span>Date</span> : <%= order.dateOrdered.toDateString() %> </a></li>
							<li><a href="#"><span>Total</span> : <%= order.totalPrice %></a></li>
							<li><a href="#"><span>Payment method</span> : <%= order.paymentMethod %> </a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>
						<ul class="list">
							<% order.billingAddress.forEach(addr => { %>
							<li><a href="#"><span>Street</span> : <%= addr.street  %></a></li>
							<li><a href="#"><span>City</span> : <%= addr.city  %></a></li>
							<li><a href="#"><span>Country</span> : <%= addr.country  %></a></li>
							<li><a href="#"><span>Postcode </span> : <%= addr.pinCode  %></a></li>
								
						</ul>
					</div>
				</div> 
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Street</span> : <%= addr.street  %></a></li>
							<li><a href="#"><span>City</span> : <%= addr.city  %></a></li>
							<li><a href="#"><span>Country</span> : <%= addr.country  %></a></li>
							<li><a href="#"><span>Postcode </span> : <%= addr.pinCode  %></a></li>
						</ul>
					</div>
				</div>
				<% }) %>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							<% if(order.productItems && order.productItems.length>0) { %>
							<% order.productItems.forEach(product => { %>
							<tr>
								
								<td>
									<h5><%= product.productName %></h5>
								</td>
								
								<td>
									<h5>x <%= product.quantity %> </h5>
								</td>
								<td>
									<h5>$<%= product.total %>.00</h5>
								</td>
							</tr>
						<% }) %>
						<% } else { %>
							<tr>
								<td colspan="3">No products found in the order.</td>
							</tr>
							<% } %>
							<tr>
								<td>
									<h4>Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<h5>$<%= order.totalPrice %>.00</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Discount</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<h5> $0.00</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<h4>$<%= order.totalPrice %>.00</h4>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<% } else { %>
			<p>No order found.</p>
		<% } %>
		<a href="/user/category" >shop now</a>
	</section>
	
	<!--================End Order Details Area =================-->

    <%- include('../layouts/user/footer') %>