<%- include('../layouts/user/header', { title: "Coupon" }) %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Coupon</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/user/home">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/user/profile">UserProfile<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/user/coupons">Coupons</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <div class="container mt-5">
        <!-- User Coupons Section -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h2 class="mb-3">Available Coupons</h2>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Coupon Name</th>
                                    <th>Coupon Code</th>
                                    <!-- <th>Maximum Discount</th> -->
                                    <th>Discount percentage</th>
                                    <th>Expiration Date</th>
                                    <!-- <th>Apply</th> -->
                                </tr>
                            </thead>
                            <% if (coupons && coupons.length> 0) { %>
                                <% coupons.forEach(coupon=> { %>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%= coupon.couponName %>
                                            </td>
                                            <td>
                                                <%= coupon.couponCode %>
                                            </td>
                                           
                                            <td>
                                                <%= coupon.discountPercentage %> %
                                            </td>
                                            <td>
                                                <%= coupon.expiryDate.toDateString() %>
                                            </td>
                                            <!-- <td><button class="btn btn-success btn-sm">Apply</button></td> -->
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="5" class="text-center">
                                                        <h4>No Coupons Available</h4>
                                                    </td>
                                                </tr>
                                                <% } %>
                                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <%- include('../layouts/user/footer') %>