<%- include('../layouts/user/header',{title:"user-orders"}) %>

    <style>
        .order-summary {
            margin-top: 30px;
        }
        .order-item img {
            max-width: 100px;
        }
    </style>
</head>
<body>
     <!-- Start Banner Area -->
     <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>User Profile</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">User<span class="lnr lnr-arrow-right"></span></a>
                        <a href="profile.html">Profile</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <div class="container order-summary">
        <h2 class="text-center">Order Summary</h2>

        <div class="row">
            <div class="col-md-8">
                <!-- Order Details -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Order Details</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Order ID:</strong> <%= order._id %></p>
                        <p><strong>Date:</strong> <%= order.dateOrdered.toDateString()  %></p>
                        <p><strong>Shipping Address:</strong> <%= order.billingAddress[0].street %>, <%= order.billingAddress[0].city %>, <%= order.billingAddress[0].state %>, <%= order.billingAddress[0].country %>, <%= order.billingAddress[0].pinCode %></p>
                    </div>
                </div>

                <!-- Order Items -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h4 class="card-title">Order Items</h4>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <% order.productItems.forEach(product => {  %>
                            <div class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="order-item d-flex align-items-center">
                                    <img src="<%= product.productId.images[0] %>" alt="Product Image" class="mr-3" style="width: 70px;height: auto;">
                                    <div>
                                        
                                        <h5 class="mb-1"><%= product.productName %></h5>
                                        <p class="mb-0">Quantity: <%= product.quantity %></p>
                                        <p class="mb-0">Product Status: <%= product.status %></p>
                                        <p class="mb-0">Price: <%= product.total %></p>
                                        
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Order Summary -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Order Summary</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Subtotal:</strong> <%= order.originalPrice %></p>
                        <p><strong>Coupon Discount:</strong> <%= order.couponDiscount %></p>
                        <p><strong>Tax:</strong> 0.00</p>
                        <hr>
                        <h5 class="text-right">Total: <%= order.totalPrice %></h5>
                    </div>
                </div>

                <!-- Payment Information -->
                <div class="card mt-3 mb-5">
                    <div class="card-header">
                        <h4 class="card-title">Payment Information</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Payment Method:</strong> <%= order.paymentMethod %></p>
                        <!-- <p><strong>Transaction ID:</strong> 78910</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <%- include('../layouts/user/footer') %>

